*.d
*.o
*.a
*.ao
*.so
*.dylib
*.1
*.8
Makefile
Makefile.inc
pkgdataMakefile
source/bin/
source/config/*.pc
source/config/icu-config
source/config/icucross.mk
source/config/pkgdata.inc
source/data/out/
source/data/icupkg.inc
source/common/svchook.mk
source/extra/uconv/pkgdata.inc
source/extra/uconv/uconvmsg/
source/icudefs.mk
source/samples/cal/icucal
source/samples/date/icudate
source/tools/gentest/gentest
source/tools/icuinfo/icuinfo
